# Movie Recomendation System using Tags

For this project [IMDB dataset](https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset) is being used.

In [13]:
import pandas as pd


movies = pd.read_csv('datasets/IMDb movies.csv')

/home/susang/Documents/sunyata/self/Python/movie_mixer/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
movies.shape

(85855, 22)

Selecting only the attributes that has most effect on the outcome.

In [15]:
movies = movies[['imdb_title_id', 'title', 'year', 'genre', 'duration', 'director', 'actors', 'description', 'avg_vote', 'votes']]

In [16]:
movies.head()

,imdb_title_id,title,year,genre,duration,director,actors,description,avg_vote,votes
0,tt0000009,Miss Jerry,1894,Romance,45,Alexander Black,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154
1,tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",70,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589
2,tt0001892,Den sorte drøm,1911,Drama,53,Urban Gad,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188
3,tt0002101,Cleopatra,1912,"Drama, History",100,Charles L. Gaskill,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446
4,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",68,"Francesco Bertolini, Adolfo Padovan","Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237

In [17]:
movies.shape

(85855, 10)

Function to convert string in to list.

In [18]:
def str_to_list(string):
    li = list(string.split(", "))
    return li

Dropping empty entries.

In [19]:
movies.dropna(axis=0, how='any', inplace=True)

In [20]:
movies.shape

(83606, 10)

Convert genre, director, actors string to list.

In [21]:
movies['genre'] = movies['genre'].apply(str_to_list)
movies['director'] = movies['director'].apply(str_to_list)
movies['actors'] = movies['actors'].apply(str_to_list)

Convert description string to list.

In [22]:
movies['description'] = movies['description'].apply(lambda x:x.split())

In [24]:
movies.head()

,imdb_title_id,title,year,genre,duration,director,actors,description,avg_vote,votes
0,tt0000009,Miss Jerry,1894,[Romance],45,[Alexander Black],"[Blanche Bayliss, William Courtenay, Chauncey ...","[The, adventures, of, a, female, reporter, in,...",5.9,154
1,tt0000574,The Story of the Kelly Gang,1906,"[Biography, Crime, Drama]",70,[Charles Tait],"[Elizabeth Tait, John Tait, Norman Campbell, B...","[True, story, of, notorious, Australian, outla...",6.1,589
2,tt0001892,Den sorte drøm,1911,[Drama],53,[Urban Gad],"[Asta Nielsen, Valdemar Psilander, Gunnar Hels...","[Two, men, of, high, rank, are, both, wooing, ...",5.8,188
3,tt0002101,Cleopatra,1912,"[Drama, History]",100,[Charles L. Gaskill],"[Helen Gardner, Pearl Sindelar, Miss Fielding,...","[The, fabled, queen, of, Egypt's, affair, with...",5.2,446
4,tt0002130,L'Inferno,1911,"[Adventure, Drama, Fantasy]",68,"[Francesco Bertolini, Adolfo Padovan]","[Salvatore Papa, Arturo Pirovano, Giuseppe de ...","[Loosely, adapted, from, Dante's, Divine, Come...",7.0,2237

Filtering movies based on no. of ratings.

In [25]:
movies = movies[movies['votes'] >= 2000]
movies.shape

(19984, 10)

Convert year, duration and avg_vote to list.

In [26]:
movies['year'] = movies['year'].apply(lambda x:[str(x)])
movies['duration'] = movies['duration'].apply(lambda x:[str(x)])
movies['avg_vote'] = movies['avg_vote'].apply(lambda x:[str(x)])

Create tags col to combine all the attributes at a place.

In [27]:
movies['tags'] = movies['year'] + movies['genre'] + movies['duration'] + movies['actors'] + movies['description'] + movies['avg_vote']

keeping only imdb_title_id, title and tags attributes.

In [28]:
columns = ['year', 'genre', 'duration', 'director', 'actors', 'description', 'avg_vote', 'votes']
final_movies = movies.drop(columns = columns)

In [29]:
final_movies.head()

,imdb_title_id,title,tags
4,tt0002130,L'Inferno,"[1911, Adventure, Drama, Fantasy, 68, Salvator..."
24,tt0003740,Cabiria,"[1914, Adventure, Drama, History, 148, Carolin..."
39,tt0004707,Tillie's Punctured Romance,"[1914, Comedy, 82, Marie Dressler, Charles Cha..."
47,tt0004972,Nascita di una nazione,"[1915, Drama, History, War, 195, Henry B. Walt..."
49,tt0005078,The Cheat,"[1915, Drama, Romance, 59, Fannie Ward, Sessue..."

Convet tags to string.

In [30]:
final_movies['tags'] = final_movies['tags'].apply(lambda x:" ".join(x))
final_movies = final_movies.reset_index()
final_movies.head()

,index,imdb_title_id,title,tags
0,4,tt0002130,L'Inferno,1911 Adventure Drama Fantasy 68 Salvatore Papa...
1,24,tt0003740,Cabiria,1914 Adventure Drama History 148 Carolina Cate...
2,39,tt0004707,Tillie's Punctured Romance,1914 Comedy 82 Marie Dressler Charles Chaplin ...
3,47,tt0004972,Nascita di una nazione,1915 Drama History War 195 Henry B. Walthall L...
4,49,tt0005078,The Cheat,1915 Drama Romance 59 Fannie Ward Sessue Hayak...

Vectorize the tags and removing stop words.

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000, stop_words='english')

In [32]:
vector = cv.fit_transform(final_movies['tags']).toarray()

In [33]:
vector.shape

(19984, 1000)

Using cosine_similarity for clustering.

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vector)

In [35]:
similarity

array([[1.        , 0.1833397 , 0.10101525, ..., 0.        , 0.13159034,
        0.        ],
       [0.1833397 , 1.        , 0.        , ..., 0.04356068, 0.        ,
        0.        ],
       [0.10101525, 0.        , 1.        , ..., 0.        , 0.04652421,
        0.        ],
       ...,
       [0.        , 0.04356068, 0.        , ..., 1.        , 0.18759162,
        0.17038855],
       [0.13159034, 0.        , 0.04652421, ..., 0.18759162, 1.        ,
        0.05504819],
       [0.        , 0.        , 0.        , ..., 0.17038855, 0.05504819,
        1.        ]])

Create recommend function to recomend similar movies.

In [36]:
def recommend(movie):
    index = final_movies[final_movies['title']==movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x:x[1])
    for i in distances[1:6]:
        print(final_movies.iloc[i[0]].title)

Dump the final_movies and similarity.

In [37]:
import pickle

pickle.dump(final_movies, open('pickles/movie_list.p', 'wb'))
pickle.dump(similarity, open('pickles/similarity.p', 'wb'))

In [38]:
final_movies

,index,imdb_title_id,title,tags
0,4,tt0002130,L'Inferno,1911 Adventure Drama Fantasy 68 Salvatore Papa...
1,24,tt0003740,Cabiria,1914 Adventure Drama History 148 Carolina Cate...
2,39,tt0004707,Tillie's Punctured Romance,1914 Comedy 82 Marie Dressler Charles Chaplin ...
3,47,tt0004972,Nascita di una nazione,1915 Drama History War 195 Henry B. Walthall L...
4,49,tt0005078,The Cheat,1915 Drama Romance 59 Fannie Ward Sessue Hayak...
...,...,...,...,...
19979,85791,tt9831136,The Banana Splits Movie,2019 Comedy Horror Sci-Fi 89 Dani Kind Steve L...
19980,85811,tt9860728,Falling Inn Love - Ristrutturazione con amore,2019 Comedy Romance 98 Christina Milian Adam D...
19981,85837,tt9894470,VFW,2019 Action Crime Horror 92 Stephen Lang Willi...
19982,85839,tt9898858,Coffee & Kareem,2020 Action Comedy 88 Ed Helms Taraji P. Henso...
19983,85843,tt9900782,Kaithi,2019 Action Thriller 145 Karthi Narain Ramana ...

In [39]:
recommend('Avatar')

Il Signore degli Anelli - Il ritorno del re
La leggenda degli uomini straordinari
Magadheera
Fast & Furious 8
Fullmetal Alchemist - The Movie: Il conquistatore di Shamballa